// Core styles

body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(255,255,255,.2);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.3);
    border-radius: 8px;
  }
}

svg {
  vertical-align: middle;
  fill: currentColor;
}

.section--icon {
  fill: none;
  stroke: #fff;
  margin-right: .3rem;
}

a {
  color: currentColor;
  font-weight: 600;
}

.container {
  width: 780px;
  height: 600px;
  background-color: map-get($color, mainGray);
  overflow: hidden;
}

.mainNav {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  background-color: map-get($color, secondaryGray);
  color: #fff;

  &__panels {
    flex: 1;
    text-align: right;

    &--item {
      display: inline-flex;

      a {
        padding: 0 .5rem;
        color: rgba(255,255,255,.6);

        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.mainNav > button {
  background: none;
  color: rgba(255,255,255,.6);
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: -1rem;
  outline: none;

  &:hover {
    color: #fff;
  }
}

.logo {
  fill: rgba(255,255,255,.6);

  &:hover {
    fill: #fff;
  }
}

.mainContent {
  padding: 1rem;
  height: calc(100% - 125px); // 48px(nav) + 32px(top/bottom padding) + 45px(footer)
}

.mainFooter {
  display: flex;
  align-items: center;
  height: 2.8rem;
  color: rgba(255,255,255,.6);
  background-color: map-get($color, secondaryGray);
  font-size: 90%;
  padding: 0 1rem;
}

// Alert helpers
.alert {
  &--success {
    background-color: map-get($state, success);
    color: map-get($state, success-text);
    padding: .2rem .4rem;
  }

  &--warning {
    background-color: map-get($state, warning);
    color: map-get($state, warning-text);
    padding: .2rem .4rem;
  }

  &--danger {
    background-color: map-get($state, danger);
    color: map-get($state, danger-text);
    padding: .2rem .4rem;
  }
}

.code {
  word-break: break-word;
  word-wrap: break-word;
  color: #FFFCBF;
  background-color: rgba(0,0,0,.3);
  margin-bottom: .5rem;
  padding: .2rem;
}
