// Helpers

//- Spacing helpers
@each $spacer, $value in $spacers {
  .mt#{$spacer} {
    margin-top: $value !important;
  }

  .mb#{$spacer} {
    margin-bottom: $value !important;
  }
}

@each $spacer, $value in $spacers {
  .p#{$spacer} {
    padding: $value !important;
  }

  .pt#{$spacer} {
    padding-top: $value !important;
  }

  .pb#{$spacer} {
    padding-bottom: $value !important;
  }

  // Y-axis
  .py#{$spacer} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }

  // X-axis
  .px#{$spacer} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
}

//- Text helpers
.text {

  &--slim {
    font-weight: 300 !important;
  }

  &--strong {
    font-weight: 600 !important;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--muted {
    opacity: .5;
    color: #fff;
  }

  &--small {
    font-size: 90% !important;
  }

  &--success {
    color: map-get($state, success-text);
  }

  &--warning {
    color: map-get($state, warning-text);
  }

  &--danger {
    color: map-get($state, danger-text);
  }

  &--center {
    text-align: center !important;
  }

  &--vcenter {
    vertical-align: middle !important;
  }
}

// List helper
.list-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Cursor
.cursor {
  &--pointer {
    cursor:pointer;
  }
}
