// Colors vars
$color: (
  mainGray: #272E38,
  secondaryGray: #1A1F26
);

$state: (
  success: rgba(39,174,96, .1),
  success-text: #6ED499,
  warning: rgba(242,153,74, .1),
  warning-text: #FFBB80,
  danger: rgba(255,82,82, .1),
  danger-text: #FF8282
);

$space: 1rem !default;
$spacers: (
  0: 0,
  1: ($space *.5),
  2: $space,
);
